## DATA CLEANING CHALLENGE

In [1]:
#importing libraries
import pandas as pd
import numpy as np

In [2]:
#Loading dataset
df = pd.read_csv("FIFA_21_Dataset.csv", low_memory = False)

### Understanding the Data

In [3]:
#looking out for number of rows and cols.
df.shape

(18979, 77)

In [4]:
#Obtaining a sample of the dataset to have a look at how it looks
df.sample(7)

,ID,Name,LongName,photoUrl,playerUrl,Nationality,Age,↓OVA,POT,Club,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
14873,245787,Iván Martínez,Iván Martínez Marqués,https://cdn.sofifa.com/players/245/787/21_60.png,http://sofifa.com/player/245787/ivan-martinez-...,Spain,18,60,81,\n\n\n\nCA Osasuna,...,Medium,Medium,1 ★,61,64,60,61,31,57,63
2620,234505,Evander,Evander da Silva Ferreira,https://cdn.sofifa.com/players/234/505/21_60.png,http://sofifa.com/player/234505/evander-da-sil...,Brazil,22,73,81,\n\n\n\nFC Midtjylland,...,High,Low,1 ★,70,69,72,80,56,58,76
3631,240837,M. Yandaş,Mert Hakan Yandaş,https://cdn.sofifa.com/players/240/837/21_60.png,http://sofifa.com/player/240837/mert-hakan-yan...,Turkey,25,72,75,\n\n\n\nFenerbahçe SK,...,High,High,1 ★,72,63,72,73,44,61,22
4223,200601,Yoon Bit Garam,Bit Garam Yoon,https://cdn.sofifa.com/players/200/601/21_60.png,http://sofifa.com/player/200601/bit-garam-yoon...,Korea Republic,30,71,71,\n\n\n\nUlsan Hyundai FC,...,Medium,Medium,2 ★,72,67,72,68,58,71,3
611,206304,L. Milivojević,Luka Milivojević,https://cdn.sofifa.com/players/206/304/21_60.png,http://sofifa.com/player/206304/luka-milivojev...,Serbia,29,79,79,\n\n\n\nCrystal Palace,...,Medium,High,1 ★,54,67,76,67,77,82,40
18183,257865,J. Jones,James Jones,https://cdn.sofifa.com/players/257/865/21_60.png,http://sofifa.com/player/257865/james-jones/21...,Wales,23,53,62,\n\n\n\nBarrow,...,Medium,Medium,1 ★,66,31,38,50,51,62,NaN
1026,221832,L. Olaza,Lucas Olaza,https://cdn.sofifa.com/players/221/832/21_60.png,http://sofifa.com/player/221832/lucas-olaza/21...,Uruguay,25,77,80,\n\n\n\nRC Celta,...,High,Medium,1 ★,76,71,74,74,73,70,31

In [5]:
#Obtaining information about the dataset to view column names and their respective data types
print(df.info())

#Two main data types can be seen here namely: integers(54) and objects[23 (which means they contain more than one data type and must be dealth with)]
#Some column names needs to be renamed
#Also, there are a number of null values in some columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 77 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                18979 non-null  int64
 1   Name              18979 non-null  object
 2   LongName          18979 non-null  object
 3   photoUrl          18979 non-null  object
 4   playerUrl         18979 non-null  object
 5   Nationality       18979 non-null  object
 6   Age               18979 non-null  int64
 7   ↓OVA              18979 non-null  int64
 8   POT               18979 non-null  int64
 9   Club              18979 non-null  object
 10  Contract          18979 non-null  object
 11  Positions         18979 non-null  object
 12  Height            18979 non-null  object
 13  Weight            18979 non-null  object
 14  Preferred Foot    18979 non-null  object
 15  BOV               18979 non-null  int64
 16  Best Position     18979 non-null  object
 17  Joined            18979 non-null  object
 18  Loan Date End     1013 non-null   object
 19  Value             18979 non-null  object
 20  Wage              18979 non-null  object
 21  Release Clause    18979 non-null  object
 22  Attacking         18979 non-null  int64
 23  Crossing          18979 non-null  int64
 24  Finishing         18979 non-null  int64
 25  Heading Accuracy  18979 non-null  int64
 26  Short Passing     18979 non-null  int64
 27  Volleys           18979 non-null  int64
 28  Skill             18979 non-null  int64
 29  Dribbling         18979 non-null  int64
 30  Curve             18979 non-null  int64
 31  FK Accuracy       18979 non-null  int64
 32  Long Passing      18979 non-null  int64
 33  Ball Control      18979 non-null  int64
 34  Movement          18979 non-null  int64
 35  Acceleration      18979 non-null  int64
 36  Sprint Speed      18979 non-null  int64
 37  Agility           18979 non-null  int64
 38  Reactions         18979 non-null  int64
 39  Balance           18979 non-null  int64
 40  Power             18979 non-null  int64
 41  Shot Power        18979 non-null  int64
 42  Jumping           18979 non-null  int64
 43  Stamina           18979 non-null  int64
 44  Strength          18979 non-null  int64
 45  Long Shots        18979 non-null  int64
 46  Mentality         18979 non-null  int64
 47  Aggression        18979 non-null  int64
 48  Interceptions     18979 non-null  int64
 49  Positioning       18979 non-null  int64
 50  Vision            18979 non-null  int64
 51  Penalties         18979 non-null  int64
 52  Composure         18979 non-null  int64
 53  Defending         18979 non-null  int64
 54  Marking           18979 non-null  int64
 55  Standing Tackle   18979 non-null  int64
 56  Sliding Tackle    18979 non-null  int64
 57  Goalkeeping       18979 non-null  int64
 58  GK Diving         18979 non-null  int64
 59  GK Handling       18979 non-null  int64
 60  GK Kicking        18979 non-null  int64
 61  GK Positioning    18979 non-null  int64
 62  GK Reflexes       18979 non-null  int64
 63  Total Stats       18979 non-null  int64
 64  Base Stats        18979 non-null  int64
 65  W/F               18979 non-null  object
 66  SM                18979 non-null  object
 67  A/W               18979 non-null  object
 68  D/W               18979 non-null  object
 69  IR                18979 non-null  object
 70  PAC               18979 non-null  int64
 71  SHO               18979 non-null  int64
 72  PAS               18979 non-null  int64
 73  DRI               18979 non-null  int64
 74  DEF               18979 non-null  int64
 75  PHY               18979 non-null  int64
 76  Hits              16384 non-null  object
dtypes: int64(54), object(23)
memory usage: 11.1+ MB
None

In [6]:
#Renaming some column names
df.rename(columns={"ID":"Player ID", "↓OVA": "Overall Rating", "Name":"Jersey Name", "LongName":"Full Name", "W/F":"Weak Foot", "SM":"Skill Moves", "A/W":"Attack Work Rate", 
                    "D/W": "Defense Work Rate", "IR":"Injury Resistance", "PAC":"Pace", "SHO":"Shooting Ability", "PAS":"Passing Ability", 
                    "DRI":"Dribbling Ability", "DEF":"Defensive Ability", "PHY":"Physicality", "POT":"Potential Rating", "BOV":"Best Overall Rating",
                    "Joined":"Date Joined"}, inplace=True)

In [7]:
#Extracting object columns and integer columns
Cols_objects = df.select_dtypes(include = ["object"]).columns
Cols_integers = df.select_dtypes(include = ["int64"]).columns

print(Cols_objects)
print(Cols_integers)

Index(['Jersey Name', 'Full Name', 'photoUrl', 'playerUrl', 'Nationality',
       'Club', 'Contract', 'Positions', 'Height', 'Weight', 'Preferred Foot',
       'Best Position', 'Date Joined', 'Loan Date End', 'Value', 'Wage',
       'Release Clause', 'Weak Foot', 'Skill Moves', 'Attack Work Rate',
       'Defense Work Rate', 'Injury Resistance', 'Hits'],
      dtype='object')
Index(['Player ID', 'Age', 'Overall Rating', 'Potential Rating',
       'Best Overall Rating', 'Attacking', 'Crossing', 'Finishing',
       'Heading Accuracy', 'Short Passing', 'Volleys', 'Skill', 'Dribbling',
       'Curve', 'FK Accuracy', 'Long Passing', 'Ball Control', 'Movement',
       'Acceleration', 'Sprint Speed', 'Agility', 'Reactions', 'Balance',
       'Power', 'Shot Power', 'Jumping', 'Stamina', 'Strength', 'Long Shots',
       'Mentality', 'Aggression', 'Interceptions', 'Positioning', 'Vision',
       'Penalties', 'Composure', 'Defending', 'Marking', 'Standing Tackle',
       'Sliding Tackle', 'Goalkeeping', 'GK Diving', 'GK Handling',
       'GK Kicking', 'GK Positioning', 'GK Reflexes', 'Total Stats',
       'Base Stats', 'Pace', 'Shooting Ability', 'Passing Ability',
       'Dribbling Ability', 'Defensive Ability', 'Physicality'],
      dtype='object')

In [8]:
#Checking for duplicates in the dataset

df.duplicated().any()

#We are good to go as there are no duplicated rows or columns

False

In [9]:
#Extracting all columns with null values

df.columns[df.isna().any()].tolist()

#These are the only columns with null values worth cleaning

['Loan Date End', 'Hits']

### Examining the integer columns as a stand alone group

In [10]:
  #Obtaining columns with null values
df[Cols_integers].columns[df[Cols_integers].isna().any()].tolist()

#There is no column in the Cols_integers having null values. This means all columns with null values belong to Cols_objects.

[]

In [11]:
#This column must be okay since we have no null values
    #Let's see a snapshot of the description
df[Cols_integers].describe()

,Player ID,Age,Overall Rating,Potential Rating,Best Overall Rating,Attacking,Crossing,Finishing,Heading Accuracy,Short Passing,...,GK Positioning,GK Reflexes,Total Stats,Base Stats,Pace,Shooting Ability,Passing Ability,Dribbling Ability,Defensive Ability,Physicality
count,18979.000000,18979.000000,18979.000000,18979.000000,18979.000000,18979.000000,18979.000000,18979.000000,18979.000000,18979.000000,...,18979.000000,18979.000000,18979.000000,18979.000000,18979.000000,18979.000000,18979.000000,18979.000000,18979.000000,18979.000000
mean,226403.384794,25.194109,65.718636,71.136414,66.751726,248.938142,49.688392,45.842405,51.942726,58.768112,...,16.217187,16.519627,1595.286949,355.702197,67.453975,53.457031,57.681016,62.875020,49.866221,64.368934
std,27141.054157,4.710520,6.968999,6.114635,6.747193,74.299428,18.131153,19.567081,17.294409,14.519106,...,17.002239,17.854079,269.874789,40.761117,10.677859,13.827425,10.081857,9.927415,16.443213,9.601883
min,41.000000,16.000000,47.000000,47.000000,48.000000,42.000000,6.000000,3.000000,5.000000,7.000000,...,2.000000,2.000000,747.000000,232.000000,25.000000,16.000000,25.000000,25.000000,12.000000,28.000000
25%,210135.000000,21.000000,61.000000,67.000000,62.000000,222.000000,38.000000,30.000000,44.000000,54.000000,...,8.000000,8.000000,1452.000000,327.000000,61.000000,44.000000,51.000000,57.000000,35.000000,58.000000
50%,232418.000000,25.000000,66.000000,71.000000,67.000000,263.000000,54.000000,49.000000,55.000000,62.000000,...,11.000000,11.000000,1627.000000,356.000000,68.000000,56.000000,58.000000,64.000000,53.000000,65.000000
75%,246922.500000,29.000000,70.000000,75.000000,71.000000,297.000000,63.000000,62.000000,64.000000,68.000000,...,14.000000,14.000000,1781.000000,384.000000,75.000000,64.000000,64.000000,69.000000,63.000000,71.000000
max,259216.000000,53.000000,93.000000,95.000000,93.000000,437.000000,94.000000,95.000000,93.000000,94.000000,...,91.000000,90.000000,2316.000000,498.000000,96.000000,93.000000,93.000000,95.000000,91.000000,91.000000

In [12]:
#Creating a new dataframe to store all cleaned columns

cleaned_cols = df[Cols_integers].copy()
print(cleaned_cols.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 54 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Player ID            18979 non-null  int64
 1   Age                  18979 non-null  int64
 2   Overall Rating       18979 non-null  int64
 3   Potential Rating     18979 non-null  int64
 4   Best Overall Rating  18979 non-null  int64
 5   Attacking            18979 non-null  int64
 6   Crossing             18979 non-null  int64
 7   Finishing            18979 non-null  int64
 8   Heading Accuracy     18979 non-null  int64
 9   Short Passing        18979 non-null  int64
 10  Volleys              18979 non-null  int64
 11  Skill                18979 non-null  int64
 12  Dribbling            18979 non-null  int64
 13  Curve                18979 non-null  int64
 14  FK Accuracy          18979 non-null  int64
 15  Long Passing         18979 non-null  int64
 16  Ball Control         18979 non-null  int64
 17  Movement             18979 non-null  int64
 18  Acceleration         18979 non-null  int64
 19  Sprint Speed         18979 non-null  int64
 20  Agility              18979 non-null  int64
 21  Reactions            18979 non-null  int64
 22  Balance              18979 non-null  int64
 23  Power                18979 non-null  int64
 24  Shot Power           18979 non-null  int64
 25  Jumping              18979 non-null  int64
 26  Stamina              18979 non-null  int64
 27  Strength             18979 non-null  int64
 28  Long Shots           18979 non-null  int64
 29  Mentality            18979 non-null  int64
 30  Aggression           18979 non-null  int64
 31  Interceptions        18979 non-null  int64
 32  Positioning          18979 non-null  int64
 33  Vision               18979 non-null  int64
 34  Penalties            18979 non-null  int64
 35  Composure            18979 non-null  int64
 36  Defending            18979 non-null  int64
 37  Marking              18979 non-null  int64
 38  Standing Tackle      18979 non-null  int64
 39  Sliding Tackle       18979 non-null  int64
 40  Goalkeeping          18979 non-null  int64
 41  GK Diving            18979 non-null  int64
 42  GK Handling          18979 non-null  int64
 43  GK Kicking           18979 non-null  int64
 44  GK Positioning       18979 non-null  int64
 45  GK Reflexes          18979 non-null  int64
 46  Total Stats          18979 non-null  int64
 47  Base Stats           18979 non-null  int64
 48  Pace                 18979 non-null  int64
 49  Shooting Ability     18979 non-null  int64
 50  Passing Ability      18979 non-null  int64
 51  Dribbling Ability    18979 non-null  int64
 52  Defensive Ability    18979 non-null  int64
 53  Physicality          18979 non-null  int64
dtypes: int64(54)
memory usage: 7.8 MB
None

### Exmaining the object columns as a stand alone column

In [ ]:
# Note: this set of columns contains those two cols. with null values (i.e; Loan Date End col and Hits col.)

In [13]:
# Taking a sample to see the nature of this set of columns
df[Cols_objects].sample(5)
#These columns look a bit messy as they contain some special characters and, of course, null values.

,Jersey Name,Full Name,photoUrl,playerUrl,Nationality,Club,Contract,Positions,Height,Weight,...,Loan Date End,Value,Wage,Release Clause,Weak Foot,Skill Moves,Attack Work Rate,Defense Work Rate,Injury Resistance,Hits
1455,A. Pyatov,Andriy Pyatov,https://cdn.sofifa.com/players/142/902/21_60.png,http://sofifa.com/player/142902/andriy-pyatov/...,Ukraine,\n\n\n\nShakhtar Donetsk,2007 ~ 2021,GK,190cm,92kg,...,NaN,€825K,€500,€2.7M,3 ★,1★,Medium,Medium,2 ★,7
12108,L. Corbu,Laurențiu Corbu,https://cdn.sofifa.com/players/246/557/21_60.png,http://sofifa.com/player/246557/laurentiu-corb...,Romania,\n\n\n\nChindia Târgovişte,2020 ~ 2021,"LB, RB",174cm,68kg,...,NaN,€575K,€1K,€570K,2 ★,2★,Medium,Medium,1 ★,2
2707,J. Lucumi,Jhon Lucumi,https://cdn.sofifa.com/players/231/207/21_60.png,http://sofifa.com/player/231207/jhon-lucumi/21...,Colombia,\n\n\n\nKRC Genk,2018 ~ 2022,"CB, LB",183cm,84kg,...,NaN,€6.5M,€11K,€9.4M,3 ★,2★,Medium,High,1 ★,56
295,T. Souček,Tomáš Souček,https://cdn.sofifa.com/players/236/792/21_60.png,http://sofifa.com/player/236792/tomas-soucek/2...,Czech Republic,\n\n\n\nWest Ham United,2020 ~ 2024,"CDM, CM",192cm,86kg,...,NaN,€34.5M,€46K,€42.5M,3 ★,3★,High,High,1 ★,210
5559,Tete Morente,José Antonio Morente Oliva,https://cdn.sofifa.com/players/239/671/21_60.png,http://sofifa.com/player/239671/jose-antonio-m...,Spain,\n\n\n\nElche CF,2020 ~ 2024,"LM, RM, CAM",184cm,78kg,...,NaN,€3.1M,€8K,€3.8M,3 ★,3★,Medium,Medium,1 ★,14

In [14]:
#Confirmation of the presence of null values in Cols_objects.
df[Cols_objects].columns[df[Cols_objects].isna().any()].tolist()

#Noted to be worked upon

['Loan Date End', 'Hits']

#### APPROACH
#Because these columns look messy,  it is relevant to obtain all unique characters in each column to fish out all foreign characters and deal with them accordingly.
I will, therefore, deal with these columns individually.

* #### Jersey Name

In [15]:
#Obtaining unique characters in the Jersey Name column

print(set(df["Jersey Name"].apply(list).sum()))
print(df["Jersey Name"].unique())

{'c', 'ú', 'ą', 'V', 'T', 'X', 'â', 'Ō', 'h', 'ë', 'č', 'Ş', 'y', 'à', 'a', 'ō', 'ä', 'ğ', 'Č', 'Ć', 'N', 'í', 's', 'Ž', 'e', 'ľ', 'M', "'", 'Ó', 'ý', 'Ł', 'ö', 'p', 'ń', 'ż', 'á', 'l', 'R', 'Š', 'ș', 'ş', 'L', 'ü', 'f', 'ñ', 'k', 'Y', 'K', 'Á', 'Þ', 'G', 'Ø', 'Ż', 'U', 'ø', 'Đ', 'b', 'đ', 'å', 'ł', 'z', 'D', 'ă', 'İ', 'H', 'ā', 'š', 'ã', 'ð', 't', 'o', 'Z', 'I', 'ç', 'ô', 'x', 'ê', 'ž', 'Ü', 'ř', '\xad', 'ę', '.', 'Â', 'ů', 'i', 'j', 'J', '-', 'É', 'Ř', 'n', 'ß', ' ', 'C', 'æ', 'ň', 'w', 'Ț', 'ț', 'A', 'ś', 'ı', 'O', 'u', 'ő', 'Ö', 'ć', 'm', 'S', 'ó', 'r', 'F', 'W', 'Ș', 'B', 'ķ', 'Å', 'd', 'Ś', 'þ', 'v', 'î', 'ï', 'ź', 'ò', 'q', 'Ç', 'g', 'Q', 'E', 'è', 'P', 'é', '�', 'õ', 'ě'}
['L. Messi' 'Cristiano Ronaldo' 'J. Oblak' ... 'R. McKinley'
 "Wang Zhen'ao" 'Zhou Xiao']

In [16]:
#Fetching a random character to confirm if these characters forms part of some players' name.

df['Jersey Name'][df["Jersey Name"].str.contains("ź")]

#Obviously these characters are not strange as they form part of players' name. This column is clean.

3967        K. Jóźwiak
10029    J. Rzeźniczak
Name: Jersey Name, dtype: object

In [17]:
#Adding a copy of the Jersey Name column to the cleaned columns.

cleaned_cols["Jersey Name"] = pd.Series(df["Jersey Name"].copy(), dtype=str)
print(cleaned_cols.info())

#As it is clearly seen on no. 54 indicating a copy has been successfully added to the cleaned_cols.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 55 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Player ID            18979 non-null  int64
 1   Age                  18979 non-null  int64
 2   Overall Rating       18979 non-null  int64
 3   Potential Rating     18979 non-null  int64
 4   Best Overall Rating  18979 non-null  int64
 5   Attacking            18979 non-null  int64
 6   Crossing             18979 non-null  int64
 7   Finishing            18979 non-null  int64
 8   Heading Accuracy     18979 non-null  int64
 9   Short Passing        18979 non-null  int64
 10  Volleys              18979 non-null  int64
 11  Skill                18979 non-null  int64
 12  Dribbling            18979 non-null  int64
 13  Curve                18979 non-null  int64
 14  FK Accuracy          18979 non-null  int64
 15  Long Passing         18979 non-null  int64
 16  Ball Control         18979 non-null  int64
 17  Movement             18979 non-null  int64
 18  Acceleration         18979 non-null  int64
 19  Sprint Speed         18979 non-null  int64
 20  Agility              18979 non-null  int64
 21  Reactions            18979 non-null  int64
 22  Balance              18979 non-null  int64
 23  Power                18979 non-null  int64
 24  Shot Power           18979 non-null  int64
 25  Jumping              18979 non-null  int64
 26  Stamina              18979 non-null  int64
 27  Strength             18979 non-null  int64
 28  Long Shots           18979 non-null  int64
 29  Mentality            18979 non-null  int64
 30  Aggression           18979 non-null  int64
 31  Interceptions        18979 non-null  int64
 32  Positioning          18979 non-null  int64
 33  Vision               18979 non-null  int64
 34  Penalties            18979 non-null  int64
 35  Composure            18979 non-null  int64
 36  Defending            18979 non-null  int64
 37  Marking              18979 non-null  int64
 38  Standing Tackle      18979 non-null  int64
 39  Sliding Tackle       18979 non-null  int64
 40  Goalkeeping          18979 non-null  int64
 41  GK Diving            18979 non-null  int64
 42  GK Handling          18979 non-null  int64
 43  GK Kicking           18979 non-null  int64
 44  GK Positioning       18979 non-null  int64
 45  GK Reflexes          18979 non-null  int64
 46  Total Stats          18979 non-null  int64
 47  Base Stats           18979 non-null  int64
 48  Pace                 18979 non-null  int64
 49  Shooting Ability     18979 non-null  int64
 50  Passing Ability      18979 non-null  int64
 51  Dribbling Ability    18979 non-null  int64
 52  Defensive Ability    18979 non-null  int64
 53  Physicality          18979 non-null  int64
 54  Jersey Name          18979 non-null  object
dtypes: int64(54), object(1)
memory usage: 8.0+ MB
None

* ### Full Name

In [18]:
#Obtaining unique characters

print(set(df["Full Name"].apply(list).sum()))
print(df["Full Name"].unique())

#This looks more like the Jersey Name. These characters form part of players' name so we can consider it clean.

{'c', 'ú', 'ą', 'V', 'T', 'X', 'â', 'Ō', 'h', 'ë', 'č', 'Ş', 'y', 'à', 'a', 'ō', 'ä', 'ğ', 'Č', 'ū', 'Ć', 'N', 'í', 's', 'Ž', 'e', 'ľ', 'M', "'", 'Ó', 'ý', 'Ł', 'ö', 'p', 'À', 'ń', 'ż', 'á', 'l', 'R', 'Š', 'ș', 'ş', 'L', 'ü', 'f', 'Á', 'k', 'Y', 'K', 'ñ', 'Þ', 'G', 'Ø', 'Ż', 'U', 'ø', 'Đ', 'b', 'å', 'đ', 'ł', 'z', 'D', 'ă', 'İ', 'H', 'ā', 'š', 'ã', 'ð', 't', 'o', 'Z', 'I', 'ç', 'ô', 'x', 'ê', 'ž', 'Ü', 'ř', '\xad', 'Ñ', 'ę', '.', 'Â', 'ů', 'i', 'j', 'J', '-', 'É', 'Ř', 'n', 'ß', ' ', 'C', 'æ', 'ň', 'w', 'Ț', 'Í', 'ț', 'A', 'ś', 'ı', 'O', 'u', 'ő', 'Ö', 'Ľ', 'ć', 'm', 'S', 'ó', 'r', 'F', 'W', 'Ș', 'B', 'ķ', 'Å', 'd', 'Ś', 'þ', 'v', 'î', 'ï', 'ź', 'ò', 'q', 'Ç', 'g', 'Q', 'E', 'è', 'P', 'é', 'õ', 'ě'}
['Lionel Messi' 'C. Ronaldo dos Santos Aveiro' 'Jan Oblak' ...
 'Ronan McKinley' "Zhen'ao Wang" 'Xiao Zhou']

In [19]:
#Adding Full Name column to cleaned_cols.

cleaned_cols["Full Name"] = pd.Series(df["Full Name"].copy(), dtype=str)

* ### photoUrl

In [20]:
#Obtaining unique characters

print(set(df["photoUrl"].apply(list).sum()))
print(df["photoUrl"].unique())

#These characters looks more of url related characters and needs not be tempered with.
#They are as well pictures with of the same picture type(ie; png)
#Hence the column is clean and I'm good to go

{'c', '2', '1', '3', 'm', 'f', 'h', '4', 'r', '.', 'y', 'i', '/', 'a', 'd', 'n', '0', '9', '7', 's', 'e', 'g', '_', '8', ':', 'p', '5', 't', 'o', '6', 'l'}
['https://cdn.sofifa.com/players/158/023/21_60.png'
 'https://cdn.sofifa.com/players/020/801/21_60.png'
 'https://cdn.sofifa.com/players/200/389/21_60.png' ...
 'https://cdn.sofifa.com/players/252/757/21_60.png'
 'https://cdn.sofifa.com/players/243/790/21_60.png'
 'https://cdn.sofifa.com/players/252/520/21_60.png']

In [21]:
#Adding photoUrl column to cleaned cols.

cleaned_cols["photoUrl"] = pd.Series(df.photoUrl.copy(), dtype=str)

* ### playerUrl

In [22]:
#Obtaining unique characters

print(set(df.playerUrl.apply(list).sum()))
print(df["playerUrl"].unique())

#The column is clean

{'c', 'u', '2', '1', '3', 'm', 'f', 'h', '4', 'k', 'r', '.', 'y', 'i', '/', 'a', '-', 'j', 'd', 'b', 'v', 'n', '0', '9', 'z', '7', 'q', 's', 'e', 'g', '8', 'w', ':', 'p', '5', 't', 'o', '6', 'l', 'x'}
['http://sofifa.com/player/158023/lionel-messi/210006/'
 'http://sofifa.com/player/20801/c-ronaldo-dos-santos-aveiro/210006/'
 'http://sofifa.com/player/200389/jan-oblak/210006/' ...
 'http://sofifa.com/player/252757/ronan-mckinley/210006/'
 'http://sofifa.com/player/243790/zhenao-wang/210006/'
 'http://sofifa.com/player/252520/xiao-zhou/210006/']

In [23]:
#Adding this column to the cleaned data

cleaned_cols["playerUrl"] = pd.Series(df.playerUrl.copy(), dtype = str)

* ### Nationality

In [24]:
#Obtaining unique characters

print(set(df.Nationality.apply(list).sum()))
print(df["Nationality"].unique())

{'c', 'u', 'V', 'T', 'L', 'm', 'S', 'h', 'f', 'k', 'r', 'K', 'F', 'G', 'y', 'W', 'i', '&', 'a', 'U', 'J', 'j', 'B', 'd', 'b', 'v', 'n', ' ', 'C', 'z', 'D', 'q', 'N', 'í', 's', 'e', 'H', 'g', 'M', 'E', 'w', 'p', 'ã', 'P', 't', 'é', 'o', 'Z', 'I', 'l', 'x', 'R', 'A'}
['Argentina' 'Portugal' 'Slovenia' 'Belgium' 'Brazil' 'Poland' 'Egypt'
 'France' 'Germany' 'Netherlands' 'Senegal' 'Spain' 'England' 'Scotland'
 'Korea Republic' 'Costa Rica' 'Italy' 'Gabon' 'Croatia' 'Uruguay'
 'Switzerland' 'Serbia' 'Slovakia' 'Morocco' 'Algeria' 'Denmark' 'Hungary'
 'Bosnia Herzegovina' 'Nigeria' 'Cameroon' 'Norway' 'Ghana' 'Mexico'
 'Austria' 'Albania' 'Colombia' 'Chile' 'Ivory Coast' 'Greece' 'Finland'
 'Wales' 'Sweden' 'Togo' 'Czech Republic' 'Russia' 'Venezuela' 'Canada'
 'United States' 'Guinea' 'Montenegro' 'Israel' 'Republic of Ireland'
 'Ukraine' 'Turkey' 'Ecuador' 'Jamaica' 'DR Congo' 'Australia' 'China PR'
 'Armenia' 'Northern Ireland' 'North Macedonia' 'Kosovo' 'Mali' 'Peru'
 'Central African Republic' 'Iceland' 'Burkina Faso' 'Paraguay' 'Japan'
 'Romania' 'New Zealand' 'Iran' 'Angola' 'Tunisia' 'Syria'
 'Dominican Republic' 'Cape Verde' 'Equatorial Guinea' 'Kenya' 'Georgia'
 'Panama' 'Zambia' 'Tanzania' 'Zimbabwe' 'Congo' 'South Africa' 'Moldova'
 'Mozambique' 'Iraq' 'Guinea Bissau' 'Honduras' 'Cuba' 'Cyprus'
 'Lithuania' 'Estonia' 'Madagascar' 'Benin' 'Curacao' 'Saudi Arabia'
 'Gambia' 'Uzbekistan' 'Chad' 'United Arab Emirates'
 'Saint Kitts and Nevis' 'Libya' 'Sierra Leone' 'Philippines' 'Liberia'
 'Bulgaria' 'Comoros' 'Namibia' 'Luxembourg' 'Trinidad & Tobago' 'Bermuda'
 'Thailand' 'Burundi' 'New Caledonia' 'Puerto Rico' 'Bolivia' 'Kazakhstan'
 'Antigua & Barbuda' 'Latvia' 'Malawi' 'Montserrat' 'São Tomé & Príncipe'
 'El Salvador' 'Mauritania' 'Jordan' 'Eritrea' 'Aruba' 'Uganda'
 'Chinese Taipei' 'Azerbaijan' 'Afghanistan' 'Faroe Islands' 'Haiti'
 'Sudan' 'Grenada' 'Lebanon' 'Guam' 'Palestine' 'Belarus' 'Guyana'
 'Rwanda' 'Liechtenstein' 'Saint Lucia' 'Papua New Guinea' 'India'
 'Ethiopia' 'Belize' 'Andorra' 'Guatemala' 'Malta' 'Niger' 'Korea DPR'
 'Barbados' 'Macau' 'South Sudan' 'Singapore' 'Hong Kong' 'Nicaragua'
 'Malaysia' 'Indonesia']

In [25]:
#Investigating the strange characters to confirm whether or not they are indeed strange

df.Nationality[df.Nationality.str.contains("ã")]

#These characters are not strange. This column is fine and can be added to the cleaned_cols.

4903    São Tomé & Príncipe
Name: Nationality, dtype: object

In [26]:
#Adding Nationality col to cleaned_cols.

cleaned_cols["Nationality"] = pd.Series(df.Nationality.copy(), dtype=str)

* ### Club

In [27]:
#Obtaining unique characters

print(set(df.Club.apply(list).sum()))

{'c', 'ú', 'ą', 'V', 'T', 'â', '1', 'h', 'y', 'a', 'ä', 'ğ', '7', 'N', 'í', 's', 'e', 'M', "'", 'ö', 'p', 'ń', 'á', 'l', 'R', ')', '2', 'ș', 'ş', '3', 'ü', 'L', 'f', 'ñ', 'k', 'Y', 'K', 'G', '/', 'U', 'ø', 'b', 'å', 'ł', '9', 'z', 'D', 'H', 'ã', 't', 'o', 'Z', 'I', 'ç', 'x', 'ê', 'ę', '.', 'i', '\n', '&', 'j', 'J', '-', 'É', 'n', ' ', 'C', 'æ', '0', 'ň', '8', 'w', '5', 'A', 'O', 'u', 'Ö', 'm', 'S', '4', 'ó', 'r', '(', 'F', 'W', 'B', 'd', 'Ś', 'v', 'î', 'q', 'Ç', 'g', 'Q', 'E', 'è', 'P', 'é', '6'}

In [28]:
#Investigating the presence of possible strange characters with a sample
df.Club[df.Club.str.contains("6")]

#Obviously there is work to be done here

2133               \n\n\n\nHannover 96
2769     \n\n\n\n1. FC Heidenheim 1846
2796     \n\n\n\n1. FC Heidenheim 1846
2990               \n\n\n\nHannover 96
3164     \n\n\n\n1. FC Heidenheim 1846
                     ...
18562         \n\n\n\nTSV 1860 München
18721         \n\n\n\nTSV 1860 München
18906         \n\n\n\nTSV 1860 München
18907         \n\n\n\nTSV 1860 München
18945         \n\n\n\nTSV 1860 München
Name: Club, Length: 109, dtype: object

In [29]:
#Obtaining a sample

df.Club.head(10)

#This doesn't look good

0           \n\n\n\nFC Barcelona
1               \n\n\n\nJuventus
2        \n\n\n\nAtlético Madrid
3        \n\n\n\nManchester City
4    \n\n\n\nParis Saint-Germain
5      \n\n\n\nFC Bayern München
6              \n\n\n\nLiverpool
7              \n\n\n\nLiverpool
8    \n\n\n\nParis Saint-Germain
9           \n\n\n\nFC Barcelona
Name: Club, dtype: object

In [30]:
#replacing strange characthers with white space

df["Club"] = df["Club"].str.replace("\n", " ", regex=True)

print(df.Club.head(3))

#This looks better now and can be added to the cleaned_cols.

0           FC Barcelona
1               Juventus
2        Atlético Madrid
Name: Club, dtype: object

In [31]:
#Adding Club to cleaned_cols

cleaned_cols["Club"] = pd.Series(df.Club.copy(), dtype=str)

* ### Contract

In [32]:
#Obtaining unique characters

print(set(df.Contract.apply(list).sum()))

{'O', 'c', 'u', '2', '1', '3', 'L', '4', ',', 'r', 'F', 'y', 'a', 'J', '~', 'v', 'n', ' ', '0', '9', '7', 'D', 'N', 'e', 'g', 'M', '8', '5', 'o', '6', 'l', 'A'}

In [33]:
#Taking a snap view of this column

df.Contract.sample(10)

#No strange characters tho but want to polish it quite a bit

1176              2019 ~ 2023
17030             2015 ~ 2022
17787             2020 ~ 2022
7131     Jun 30, 2021 On Loan
13961             2020 ~ 2023
3461              2016 ~ 2022
10431             2017 ~ 2021
5026              2020 ~ 2024
4760              2020 ~ 2022
3801              2020 ~ 2021
Name: Contract, dtype: object

In [34]:
#Replacing "~" with "-"

df.Contract = df.Contract.str.replace("~", "-", regex = True)
print(df.Contract.head(2))

#This looks descent now

0    2004 - 2021
1    2018 - 2022
Name: Contract, dtype: object

In [35]:
#Proceding to add the Contract column to the cleaned_cols.

cleaned_cols["Contract"] = pd.Series(df.Contract.copy(), dtype = str)

* ### Positions

In [36]:
#Obtaining unique characters

print(set(df.Positions.apply(list).sum()))

#This column can be added to cleaned_cols as it has no strange character in there.

{'M', 'G', 'W', ' ', 'C', 'T', 'L', 'B', 'S', 'D', ',', 'R', 'A', 'K', 'F'}

In [37]:
#Adding Positions to cleaned_cols

cleaned_cols["Positions"] = pd.Series(df.Positions.copy(), dtype = str)

* ### Preferred Foot

In [38]:
#Obtaining unique characters

print(set(df["Preferred Foot"].apply(list).sum()))
print(df["Preferred Foot"].unique())

{'i', 't', 'L', 'f', 'h', 'e', 'R', 'g'}
['Left' 'Right']

In [39]:
#Converting this to a categorical data and adding to cleaned_cols

cleaned_cols["Preferred Foot"] = df["Preferred Foot"].astype("category")

* ### Best Position

In [40]:
#Obtaining unique characters

print(set(df["Best Position"].apply(list).sum()))
print(df["Best Position"].unique())

#This column is fine

{'M', 'G', 'W', 'C', 'T', 'L', 'B', 'S', 'D', 'R', 'A', 'K', 'F'}
['RW' 'ST' 'GK' 'CAM' 'LW' 'CB' 'CDM' 'CF' 'CM' 'RB' 'LB' 'LM' 'RM' 'LWB'
 'RWB']

In [41]:
#Converting this column to a categorical data type and adding to cleaned_cols

cleaned_cols["Best Position"] = df["Best Position"].astype("category")

* ### Date Joined

In [42]:
#Obtaining unique characters

print(set(df["Date Joined"].apply(list).sum()))
print(df["Date Joined"].unique())

{'O', 'c', 'u', '2', '1', '3', 'S', '4', 'r', 'F', 'y', 'a', 'J', '-', 'b', 'v', 'n', '0', '9', '7', 'D', 'N', 'e', 'g', 'M', '8', 'p', '5', 't', 'o', '6', 'l', 'A'}
['1-Jul-04' '10-Jul-18' '16-Jul-14' ... '22-Sep-18' '28-Feb-15' '6-Mar-18']

In [43]:
#Converting Date Joined column data type from objects to date and adding to cleaned_cols.

cleaned_cols["Date Joined"] = pd.to_datetime(df["Date Joined"]).dt.date

* ### Weight

In [44]:
# Obtaining unique characters

print(set(df.Weight.apply(list).sum()))
print(df.Weight.unique())

{'b', '8', '2', '0', '5', '3', '1', '9', '7', '6', 'l', '4', 's', 'k', 'g'}
['72kg' '83kg' '87kg' '70kg' '68kg' '80kg' '71kg' '91kg' '73kg' '85kg'
 '92kg' '69kg' '84kg' '96kg' '81kg' '82kg' '75kg' '86kg' '89kg' '74kg'
 '76kg' '64kg' '78kg' '90kg' '66kg' '60kg' '94kg' '79kg' '67kg' '65kg'
 '59kg' '61kg' '93kg' '88kg' '97kg' '77kg' '62kg' '63kg' '95kg' '100kg'
 '58kg' '183lbs' '179lbs' '172lbs' '196lbs' '176lbs' '185lbs' '170lbs'
 '203lbs' '168lbs' '161lbs' '146lbs' '130lbs' '190lbs' '174lbs' '148lbs'
 '165lbs' '159lbs' '192lbs' '181lbs' '139lbs' '154lbs' '157lbs' '163lbs'
 '98kg' '103kg' '99kg' '102kg' '56kg' '101kg' '57kg' '55kg' '104kg'
 '107kg' '110kg' '53kg' '50kg' '54kg' '52kg']

In [45]:
#Observing some inconsistenceis in measurement units. As such, I will convert all pounds to kgs
#to define a function that will do the conversion, i will be using the unique last value as a reference
df["Weight"].str[-1].unique()

array(['g', 's'], dtype=object)

In [46]:
# define a function 
#using the unique last value as a reference of condition
# replacing the unwanted string value with an empty string
# converting the concerned value from its unit to Kilogram
# return the rounded off answer
# Otherwise, preserve the other kilogram value without the kg

def Weight_Convert(x):
    if x[-1] == 's':
        x = x.replace("lbs","")
        kg = int(x[:3]) / 2.205
        return round(kg)
    elif x[-1] == "g":
        return int(x[:-2])

In [47]:
# Now, apply the function above to to the Weight col.

df.Weight = df.Weight.apply(Weight_Convert)

print(df.Weight.unique())
 
#Since these are now in kgs, it is important to rename the column.

[ 72  83  87  70  68  80  71  91  73  85  92  69  84  96  81  82  75  86
  89  74  76  64  78  90  66  60  94  79  67  65  59  61  93  88  97  77
  62  63  95 100  58  98 103  99 102  56 101  57  55 104 107 110  53  50
  54  52]

In [48]:
#Renaming Weight Column
df.rename(columns={"Weight":"Weight(Kg)"}, inplace=True)

In [49]:
#Adding the weight column to cleaned_cols

cleaned_cols["Weight(Kg)"] = pd.Series(df["Weight(Kg)"].copy(), dtype="int64")

* ### Height

In [50]:
#Obtaining unique characters
print(set(df.Height.apply(list).sum()))
print(df.Height.unique())

{"'", 'c', '8', '2', '0', '5', '1', '9', '3', '7', 'm', '6', '4', '"'}
['170cm' '187cm' '188cm' '181cm' '175cm' '184cm' '191cm' '178cm' '193cm'
 '185cm' '199cm' '173cm' '168cm' '176cm' '177cm' '183cm' '180cm' '189cm'
 '179cm' '195cm' '172cm' '182cm' '186cm' '192cm' '165cm' '194cm' '167cm'
 '196cm' '163cm' '190cm' '174cm' '169cm' '171cm' '197cm' '200cm' '166cm'
 '6\'2"' '164cm' '198cm' '6\'3"' '6\'5"' '5\'11"' '6\'4"' '6\'1"' '6\'0"'
 '5\'10"' '5\'9"' '5\'6"' '5\'7"' '5\'4"' '201cm' '158cm' '162cm' '161cm'
 '160cm' '203cm' '157cm' '156cm' '202cm' '159cm' '206cm' '155cm']

In [51]:
#Observing some inconsistenceis in measurement units. As such, I will convert all ft/in to cm
#to define a function that will do the conversion, i will be using the unique last value as a reference

df["Height"].str[-1].unique()

array(['m', '"'], dtype=object)

In [52]:
# define a function 
#using the unique last value as a reference of condition
# replacing the unwanted string value with an empty string
# converting the concerned value from its unit to centimeter(cm)
# return the answer
# Otherwise, preserve the other centimeter value without the cm

def Height_Convert(x):
    if x[-1] == '"':
        x = x.replace("\"","")
        inch = int(x[2:]) * 2.54
        foot = int(x[0]) * 30.48
        return round(foot+inch)
    elif x[-1] == "m":
        return int(x[:-2])

In [53]:
#Apply the above function the Height column

df["Height"] = df.Height.apply(Height_Convert)
print(df.Height.unique())

[170 187 188 181 175 184 191 178 193 185 199 173 168 176 177 183 180 189
 179 195 172 182 186 192 165 194 167 196 163 190 174 169 171 197 200 166
 164 198 201 158 162 161 160 203 157 156 202 159 206 155]

In [54]:
#Renaming Height column to reflect the unit of meseaurement

df.rename(columns={"Height":"Height(cm)"}, inplace=True)

In [55]:
#Adding the column to cleaned_cols

cleaned_cols["Height(cm)"] = pd.Series(df["Height(cm)"].copy(), dtype="int64")

In [56]:
print(Cols_objects)

Index(['Jersey Name', 'Full Name', 'photoUrl', 'playerUrl', 'Nationality',
       'Club', 'Contract', 'Positions', 'Height', 'Weight', 'Preferred Foot',
       'Best Position', 'Date Joined', 'Loan Date End', 'Value', 'Wage',
       'Release Clause', 'Weak Foot', 'Skill Moves', 'Attack Work Rate',
       'Defense Work Rate', 'Injury Resistance', 'Hits'],
      dtype='object')

* ### Loan Date End

In [57]:
#NOTE: Previous knowledge indicates that this column contains some null values
#Finding out the number of null values
df["Loan Date End"].isna().sum()

17966

In [58]:
#This column already has missing values way above the non-null values.
#Since the contract column already indicates whether a player is on loan, it is reasonble to drop this column.
#Dropping the Loan Date End column.

df = df.drop("Loan Date End", axis=1)

* ### Value

In [59]:
#Obtaining unique values
#Previewing column

print(set(df.Value.apply(list).sum()))
print(df.Value.sample(10))

#This column has some Euro sign, K(which signifies thousand) and M(signifying million).
#It is therefore necessary to remove the euro signs and convert the Ks and Ms into their respective thousands and millions
#I will then rename the column afterwards to reflect the currency in which the values are represented.

{'M', '8', '2', '0', '5', '1', '3', '9', '7', '6', '4', '€', 'K', '.'}
18020     €240K
9657      €1.4M
1003     €10.5M
15423     €350K
16354     €240K
12782     €725K
1314      €3.6M
1921        €5M
14120     €875K
8042      €700K
Name: Value, dtype: object

In [60]:
#Defining a fumction that will;
    #Eliminate all euro signs
    #Convert all Ks to thousands by multiplying the values by 1000 and return answers as rounded figs.
    #Convert all Ms to millions by multiplying the values by 1000000 and return answers as rounded figs.
    #Possibly convert all Bs to billions by multiplying the values by 1000000000 and return answers as rounded figs.
    #Possibly convert all zero values to floats.

def Value_New(val):
    val = val.replace('€', '')
    
    if  'K' in val:
        val = val.replace('K', '')
        val = float(val)*1000
        return round(val)   
    
    elif 'M' in val:
        val = val.replace('M','')
        val = float(val)*1000000
        return round(val)
    
    elif 'B' in val:
        val = val.replace('B','')
        val = float(val)*1000000000
        return round(val)
    
    elif '0' in val:
        val = float(val)
        return round(val)

In [61]:
# Applying the function to the Value Column
df.Value = df.Value.apply(Value_New)
print(df.Value.sample(10))

10173     120000
14835     600000
12330    1100000
16645     475000
12235     475000
2994     4600000
7666     2300000
7613     2100000
9030      625000
5581      450000
Name: Value, dtype: int64

In [62]:
#Renaming the column to reflect the currency

df.rename(columns={"Value":"Value(€)"}, inplace=True)

In [140]:
#Adding the new Value column to the cleaned_cols.

cleaned_cols["Value(€)"] = pd.Series(df["Value(€)"].copy(), dtype = float)

* ### Wage

In [64]:
#Obtaining unique values

print(set(df.Wage.apply(list).sum()))
print(df.Wage.unique())

#This column is similar to the Value column and will be treated similarly. I will therefore apply the Value_New function on it

{'8', '2', '0', '5', '1', '3', '9', '7', '6', '4', '€', 'K'}
['€560K' '€220K' '€125K' '€370K' '€270K' '€240K' '€250K' '€160K' '€260K'
 '€210K' '€310K' '€130K' '€350K' '€300K' '€190K' '€145K' '€195K' '€100K'
 '€140K' '€290K' '€82K' '€110K' '€230K' '€155K' '€200K' '€165K' '€95K'
 '€170K' '€105K' '€115K' '€150K' '€135K' '€55K' '€58K' '€81K' '€34K'
 '€120K' '€59K' '€90K' '€65K' '€56K' '€71K' '€18K' '€75K' '€47K' '€20K'
 '€84K' '€86K' '€74K' '€78K' '€27K' '€68K' '€85K' '€25K' '€46K' '€83K'
 '€54K' '€79K' '€175K' '€43K' '€49K' '€45K' '€38K' '€41K' '€39K' '€23K'
 '€51K' '€50K' '€87K' '€30K' '€14K' '€69K' '€31K' '€64K' '€53K' '€35K'
 '€21K' '€28K' '€17K' '€33K' '€70K' '€32K' '€89K' '€26K' '€40K' '€76K'
 '€72K' '€48K' '€36K' '€29K' '€60K' '€16K' '€37K' '€24K' '€52K' '€0'
 '€62K' '€73K' '€63K' '€19K' '€1K' '€66K' '€80K' '€12K' '€2K' '€42K'
 '€13K' '€900' '€57K' '€77K' '€61K' '€22K' '€67K' '€44K' '€15K' '€11K'
 '€8K' '€850' '€10K' '€88K' '€500' '€7K' '€6K' '€9K' '€5K' '€700' '€950'
 '€750' '€3K' '€650' '€600' '€4K' '€800' '€550']

In [65]:
#Applying this function to the Wage column

df["Wage"] = df.Wage.apply(Value_New)

In [66]:
#Renaming the Wage column to reflect the Euro currency

df.rename(columns={"Wage":"Wage(€)"}, inplace = True)

In [67]:
#Adding column to cleaned_cols

cleaned_cols["Wage(€)"] = pd.Series(df["Wage(€)"].copy(), dtype = float)

In [68]:
print(df["Wage(€)"].head())

0    560000
1    220000
2    125000
3    370000
4    270000
Name: Wage(€), dtype: int64

* ### Release Clause

In [69]:
#Obtaining unique values

print(set(df["Release Clause"].apply(list).sum()))
print(df["Release Clause"].unique())

#Now, just like the Value and Wage columns, I will be applying the Value_New function to this column.

{'M', '8', '2', '0', '5', '1', '3', '9', '7', '6', '4', '€', 'K', '.'}
['€138.4M' '€75.9M' '€159.4M' ... '€59K' '€35K' '€64K']

In [70]:
#Applying the function

df["Release Clause"] = df["Release Clause"].apply(Value_New)

In [71]:
#Renaming column to reflect currency

df.rename(columns={"Release Clause":"Release Clause(€)"}, inplace = True)

In [72]:
print(df["Release Clause(€)"].head())

0    138400000
1     75900000
2    159400000
3    161000000
4    166500000
Name: Release Clause(€), dtype: int64

In [73]:
#Adding column to cleaned_cols

cleaned_cols["Release Clause(€)"] = pd.Series(df["Release Clause(€)"].copy(), dtype = float)

* ### Weak Foot

In [74]:
#Obtaining unique characters

print(set(df["Weak Foot"].apply(list).sum()))
print(df["Weak Foot"].unique())

#This column contains a number of stars.

{' ', '2', '5', '3', '1', '4', '★'}
['4 ★' '3 ★' '5 ★' '2 ★' '1 ★']

In [75]:
#Investigating this star for a better understanding of the column

df["Weak Foot"][df["Weak Foot"].str.contains("★")]

#Okay, these stars indicates the level of star rating by each player in terms of their weak foots. The higher the star, the stronger his/her weak foot is and vice versa.
#I will remove these stars from the values and rather indicate it by the column name.

0        4 ★
1        4 ★
2        3 ★
3        5 ★
4        5 ★
        ...
18974    2 ★
18975    2 ★
18976    2 ★
18977    3 ★
18978    3 ★
Name: Weak Foot, Length: 18979, dtype: object

In [76]:
#Removing all stars

df["Weak Foot"] = df["Weak Foot"].str.replace("★", " ", regex = True)
print(df["Weak Foot"].head(3))

0    4
1    4
2    3
Name: Weak Foot, dtype: object

In [78]:
#Renaming column to reflect star

df.rename(columns={"Weak Foot":"Weak Foot(★)"}, inplace = True)
print(df["Weak Foot(★)"].head())

0    4
1    4
2    3
3    5
4    5
Name: Weak Foot(★), dtype: object

In [80]:
#Adding column to cleaned_cols

cleaned_cols["Weak Foot(★)"] = pd.Series(df["Weak Foot(★)"].copy(), dtype="int64")

* ### Skill Moves

In [81]:
#Obtaining unique characters

print(set(df["Skill Moves"].apply(list).sum()))
print(df["Skill Moves"].unique())

#This, obviously, has the same issue as the Weak Foot column

{'2', '5', '1', '3', '4', '★'}
['4★' '5★' '1★' '2★' '3★']

In [82]:
#Previewing the column for confirmation

print(df["Skill Moves"].sample(5))

#A confirmation to the above statement

15927    2★
5658     1★
12677    2★
15543    1★
4547     3★
Name: Skill Moves, dtype: object

In [83]:
#Removing all stars

df["Skill Moves"] = df["Skill Moves"].str.replace("★", " ", regex = True)
print(df["Skill Moves"].head(3))

0    4
1    5
2    1
Name: Skill Moves, dtype: object

In [84]:
#Renaming column to reflect star

df.rename(columns={"Skill Moves":"Skill Moves(★)"}, inplace = True)

In [85]:
#Adding column to cleaned_cols

cleaned_cols["Skill Movest(★)"] = pd.Series(df["Skill Moves(★)"].copy(), dtype="int64")

* ### Attack Work Rate

In [86]:
#Obtaining unique characters

print(set(df["Attack Work Rate"].apply(list).sum()))
print(df["Attack Work Rate"].unique())

#This is clean but it is categorical hence it is crucial to convert data type into categorical

{'M', 'g', 'u', 'i', 'w', 'o', 'L', 'm', 'h', 'e', 'H', 'd'}
['Medium' 'High' 'Low']

In [88]:
#Converting to category and adding to the cleaned_cols

cleaned_cols["Attack Work Rate"] = df["Attack Work Rate"].astype("category")

* ### Defense Work Rate

In [89]:
#Obtaining unique characters

print(set(df["Defense Work Rate"].apply(list).sum()))
print(df["Defense Work Rate"].unique())

#Just like the Attack Work Rate column, this is also clean but it is categorical hence it is crucial to convert data type into categorical

{'M', 'g', 'w', 'i', 'u', 'o', 'L', 'm', 'h', 'e', 'H', 'd'}
['Low' 'Medium' 'High']

In [90]:
#Converting to category and adding to the cleaned_cols

cleaned_cols["Defense Work Rate"] = df["Defense Work Rate"].astype("category")

* ### Injury Resistance

In [91]:
#Obtaining unique characters

print(set(df["Injury Resistance"].apply(list).sum()))
print(df["Injury Resistance"].unique())

{' ', '2', '5', '3', '1', '4', '★'}
['5 ★' '3 ★' '4 ★' '2 ★' '1 ★']

In [92]:
#Previewing the column

print(df["Injury Resistance"].head())

0    5 ★
1    5 ★
2    3 ★
3    4 ★
4    5 ★
Name: Injury Resistance, dtype: object

In [93]:
#Removing all stars

df["Injury Resistance"] = df["Injury Resistance"].str.replace("★", " ", regex = True)
print(df["Injury Resistance"].head(3))

0    5
1    5
2    3
Name: Injury Resistance, dtype: object

In [94]:
#Renaming column to reflect star

df.rename(columns={"Injury Resistance":"Injury Resistance(★)"}, inplace = True)

In [95]:
#Adding column to cleaned_cols

cleaned_cols["Injury Resistance(★)"] = pd.Series(df["Injury Resistance(★)"].copy(), dtype="int64")

* ### Hits

In [96]:
#A reminder that this column also contains some null values.
#Confirmation of the presence of null values

df["Hits"].isna().any()

#A proof of the existence of null values

True

In [97]:
#Obtaining the number of null values

df["Hits"].isna().sum()

#Number of null values is clearly 2595
#Something needs to be done about this

2595

In [98]:
#First, I will fill all empty cells with "0"

df.Hits.fillna(0, inplace = True)

In [99]:
#Obtaining unique values

print(df.Hits.unique())

#Observing some K in there. These K indicates that the values are in thousands

['771' '562' '150' '207' '595' '248' '246' '120' '1.6K' '130' '321' '189'
 '175' '96' '118' '216' '212' '154' '205' '202' '339' '408' '103' '332'
 '86' '173' '161' '396' '1.1K' '433' '242' '206' '177' '1.5K' '198' '459'
 '117' '119' '209' '84' '187' '165' '203' '65' '336' '126' '313' '124'
 '145' '538' '182' '101' '45' '377' '99' '194' '403' '414' '593' '374'
 '245' '3.2K' '266' '299' '309' '215' '265' '211' '112' '337' '70' '159'
 '688' '116' '63' '144' '123' '71' '224' '113' '168' '61' '89' '137' '278'
 '75' '148' '176' '197' '264' '214' '247' '402' '440' '1.7K' '2.3K' '171'
 '320' '657' '87' '259' '200' '255' '253' '196' '60' '97' '85' '169' '256'
 '132' '239' '166' '121' '109' '32' '46' '122' '48' '527' '199' '282' '51'
 '1.9K' '642' '155' '323' '288' '497' '509' '79' '49' '270' '511' '80'
 '128' '115' '156' '204' '143' '140' '152' '220' '134' '225' '94' '74'
 '135' '142' '50' '77' '40' '107' '193' '179' '34' '64' '453' '57' '81'
 '28' '78' '133' '43' '425' '88' '42' '36' '233' '376' '210' '444' '100'
 '263' '98' '29' '160' '39' '257' '6' '310' '138' '62' '293' '285' '362'
 '66' '69' '58' '21' '20' '131' '38' '406' '68' '108' '110' '93' '512'
 '443' '306' '352' '422' '585' '346' '178' '841' '76' '394' '72' '172'
 '44' '407' '230' '367' '295' '157' '243' '56' '111' '326' '679' '18' '92'
 '59' '25' '184' '53' '12' '90' '55' '73' '11' '566' '180' '83' '262' '17'
 '26' '31' '280' '359' '213' '297' '387' '480' '381' '677' '486' '8' '244'
 '129' '388' '275' '319' '2K' '52' '91' '421' '153' '27' '41' '222' '35'
 '102' '23' '30' '33' '146' '13' '19' '14' '106' '276' '568' '353' '47'
 '478' '249' '254' '369' '219' '565' '237' '227' '434' '375' '162' '605'
 '654' '3' '7' '9' '104' '114' '186' '446' '756' '22' '139' '500' '67'
 '147' '149' '16' '82' '54' '37' '15' '1.3K' '3K' '952' '5' '749' '541'
 '330' '393' '517' '770' '409' '170' '125' '283' '342' '363' '580' '105'
 '217' '24' '141' '10' '427' '158' '426' '4' '666' '181' '324' '979'
 '1.4K' '302' '751' '298' '411' '944' '2' '947' '292' '349' '621' '1'
 '2.8K' '338' '287' '261' '218' '1.8K' '240' '279' '229' '188' '315' '664'
 '613' '190' '706' '127' '462' '386' '695' '491' '167' '281' '250' '307'
 '95' '231' '174' '680' '633' '221' '348' '602' '183' '653' '195' '164'
 '151' '258' '8.4K' '343' '419' '655' '136' '399' '531' '357' '228' '385'
 '312' '340' '238' '487' '355' '499' '4.3K' '296' '515' '943' '1.2K' '903'
 '335' '191' '594' '267' '617' '516' '504' '331' '652' '410' '550' '473'
 '442' '344' '208' '1K' '2.5K' '273' '485' '826' '192' '405' '941' '477'
 '644' '303' '417' '6K' 0]

In [105]:
#Dealing with integers

df["Hits"] = df["Hits"].astype(str)

In [106]:
#Creating a function that will;
#Replace all K with empty strings. 
#Multiply K related values by 1000. 
#Convert the values into floats.

def Hits_Clean(y):
    if "K" in y:
        y = y.replace("K", " ")        
        y = float(y)*1000
        return round(y)
    
    else:
        y = float(y)
        return round(y)

In [107]:
#Applying the above function to the Hits Column

df["Hits"] = df.Hits.apply(Hits_Clean)

In [128]:
#Observing the work done
print(df.Hits.sample(20))

1739        9
14978       5
11035      19
4931        5
18762       0
9201        2
14304       7
8402        2
10573       6
106      2300
17711       0
15863       3
16624       0
17876       0
17975       0
366        88
4976       41
6188       32
12795       1
14388       1
Name: Hits, dtype: int64

In [131]:
#Adding the column to the cleaned_cols

cleaned_cols["Hits"] = df["Hits"].astype("int64")

In [141]:
#Finally, this brings me to the end of my data cleaning!!!
#Obtaining the full list of all cleaned columns

print(cleaned_cols.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 76 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Player ID             18979 non-null  int64
 1   Age                   18979 non-null  int64
 2   Overall Rating        18979 non-null  int64
 3   Potential Rating      18979 non-null  int64
 4   Best Overall Rating   18979 non-null  int64
 5   Attacking             18979 non-null  int64
 6   Crossing              18979 non-null  int64
 7   Finishing             18979 non-null  int64
 8   Heading Accuracy      18979 non-null  int64
 9   Short Passing         18979 non-null  int64
 10  Volleys               18979 non-null  int64
 11  Skill                 18979 non-null  int64
 12  Dribbling             18979 non-null  int64
 13  Curve                 18979 non-null  int64
 14  FK Accuracy           18979 non-null  int64
 15  Long Passing          18979 non-null  int64
 16  Ball Control          18979 non-null  int64
 17  Movement              18979 non-null  int64
 18  Acceleration          18979 non-null  int64
 19  Sprint Speed          18979 non-null  int64
 20  Agility               18979 non-null  int64
 21  Reactions             18979 non-null  int64
 22  Balance               18979 non-null  int64
 23  Power                 18979 non-null  int64
 24  Shot Power            18979 non-null  int64
 25  Jumping               18979 non-null  int64
 26  Stamina               18979 non-null  int64
 27  Strength              18979 non-null  int64
 28  Long Shots            18979 non-null  int64
 29  Mentality             18979 non-null  int64
 30  Aggression            18979 non-null  int64
 31  Interceptions         18979 non-null  int64
 32  Positioning           18979 non-null  int64
 33  Vision                18979 non-null  int64
 34  Penalties             18979 non-null  int64
 35  Composure             18979 non-null  int64
 36  Defending             18979 non-null  int64
 37  Marking               18979 non-null  int64
 38  Standing Tackle       18979 non-null  int64
 39  Sliding Tackle        18979 non-null  int64
 40  Goalkeeping           18979 non-null  int64
 41  GK Diving             18979 non-null  int64
 42  GK Handling           18979 non-null  int64
 43  GK Kicking            18979 non-null  int64
 44  GK Positioning        18979 non-null  int64
 45  GK Reflexes           18979 non-null  int64
 46  Total Stats           18979 non-null  int64
 47  Base Stats            18979 non-null  int64
 48  Pace                  18979 non-null  int64
 49  Shooting Ability      18979 non-null  int64
 50  Passing Ability       18979 non-null  int64
 51  Dribbling Ability     18979 non-null  int64
 52  Defensive Ability     18979 non-null  int64
 53  Physicality           18979 non-null  int64
 54  Jersey Name           18979 non-null  object
 55  Full Name             18979 non-null  object
 56  photoUrl              18979 non-null  object
 57  playerUrl             18979 non-null  object
 58  Nationality           18979 non-null  object
 59  Club                  18979 non-null  object
 60  Contract              18979 non-null  object
 61  Positions             18979 non-null  object
 62  Preferred Foot        18979 non-null  category
 63  Best Position         18979 non-null  category
 64  Date Joined           18979 non-null  object
 65  Weight(Kg)            18979 non-null  int64
 66  Height(cm)            18979 non-null  int64
 67  Value(€)              18979 non-null  float64
 68  Wage(€)               18979 non-null  float64
 69  Release Clause(€)     18979 non-null  float64
 70  Weak Foot(★)          18979 non-null  int64
 71  Skill Movest(★)       18979 non-null  int64
 72  Attack Work Rate      18979 non-null  category
 73  Defense Work Rate     18979 non-null  category
 74  Injury Resistance(★)  18979 non-null  int64
 75  Hits                  18979 non-null  int64
dtypes: category(4), float64(3), int64(60), object(9)
memory usage: 10.5+ MB
None